body {
  display:flex;
  margin: 0px;
  background-color: yellow;;
}

#left {
  background-image: url(images/fern.jpg);
  background-size: cover;
  min-width: 35%;
  height: 800px;
}

#title{ /*container*/
  /*box-sizing: border-box;*/
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 215px;
  height: 150px;
  background: rgba(19, 21, 22, 0.70);
  
}

#title div{
}

#titleText {
  font-size: 85px;
  color: white; 
}
#odin {
  margin: auto;
}
#icon img{
  width: 75px;  
}

#right {
  display: flex 1;
  background-color: white;  
}

#info {
  padding-top: 180px;
  padding-right: 125px;
  padding-bottom: 25px;
  padding-left: 50px;
  font-size: 25px;
  
}

#questions {
  display: grid;
  grid-template-columns: 250px 250px;
  padding-top: 25px;
  padding-left: 50px;
  padding-bottom: 25px;
  text-align:  center;
  background-color: lightblue;
  
}

label {
  display: grid;
  padding-top: 10x;
  padding-bottom: 10px;
  padding-right: 25px;
  text-align: left;
  font-size: 25px;
  background-color: lightblue;
}

button {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 50px;
  
}

form {
  
}